.movie-card {
  /* border: 1px solid white; */
  padding-top: 20px;
  height: 350px;
  width: 320px;
  display: flex;
  justify-content: center;
}

.movieImage {
  height: 300px;
  width: 250px;
  border-radius: 25px;
  
  
  -webkit-box-shadow: 0px 0px 15px 6px #edcbb1, 0px 0px 34px 5px #941c2f;
  box-shadow: 0px 0px 15px 6px #edcbb1, 0px 0px 34px 5px #941c2f;
  background: #1c6ea4;
  border: 2px solid black;
}

/* .title { */
  /* font-family: 'Architects Daughter', cursive, bold; */
  /* font-family: "Comic Neue", cursive;
  display: flex;
  justify-content: center;
  color: #edcbb1;
  font-size: 20px;
} */
