body{
    background-color: #EDCBB1;
    /* rgba(1, 77, 4, 0.798); */
    /* rgba(4, 130, 8, 0.46); */
    /* display: flex; */
    /* justify-content: center;
    justify-items: center; */
    /* align-items: center; */
    /* padding-left: 800px; */
   
   
}
h1{
    display: flex;
    /* justify-content: center; */
    text-decoration: underline;
    color: #941C2F;
}
p{
    color: #941C2F;
    font-size: 150%;
    /* text-decoration-
    style: ; */
}
/* #text{
    display: flex;
    justify-content: center;
    
} */

/* img{
    display: grid;
    justify-items: center; 
} */