.searchBar{
    position: relative;
    top: -180px;
    right: -1170px;
}

#logo1 {
    height: 200px;
}

.navbar {
    background-color: #EDCBB1;
    border: 4px solid black;
    box-shadow: 0 0 10px black;
}