/* .searchBar{
    position: relative;
    top: -6px;
    right: -100px;
} */

#logo1 {
    height: 200px;
}

.navbar {
    background-color: #EDCBB1;
    border: 4px solid black;
    box-shadow: 0 0 10px black;

}